FASTAPI>=0.110.0
UVICORN[STANDARD]>=0.29.0
PYDANTIC>=2.0.0
PYDANTIC-SETTINGS>=2.0.0
SQLALCHEMY[ASYNCIO]>=2.0.0
ASYNCPG>=0.29.0
REDIS>=5.0.0
Httpx>=0.27.0
AIOSMTPD>=1.4.0
PROMETHEUS-CLIENT>=0.20.0
STRUCTLOG>=24.0.0
