.section {
  background-color: rgba(0, 0, 0, 0.274);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 30px auto;
  justify-content: center;
}

.heading {
  font-size: 36px;
  text-align: center;
}

.barContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 30px;
  width: fit-content;
  max-width: fit-content;
}

.bar {
  width: 6px;
  height: 40px;
  margin: 0 2px;
}
