header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 10%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(20px);
}

header a {
  color: #9dc9e3 !important;
  transition: color 0.2s ease;
}

header a:hover {
  color: #3fa5df !important;
  text-decoration: none;
}

header .logo {
  display: inline-block;
  margin-left: 30px;
}

.logo img {
  height: 40px;
  width: auto;
}
header h1 {
  font-size: 32px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto auto auto 20px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: auto 0 auto auto;
}

header ul li {
  padding: 12px 9px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
}