.secondaryFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to bottom, #151934, black, black, black);
  color: #fff;
  padding: 30px 100px;
}

.column {
  flex: 1;
  width: 100%;
  max-width: 15%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}

.column:last-child {
  padding-top: 30px;
}

.columnheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  text-decoration: none;
  color: #fff;
}

.columnlinks {
  margin-top: 5px;
  list-style-type: none;
  padding: 0;
}

.columnlinks li {
  margin-bottom: 3px;
}

.columnlinks a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.columnlinks a:hover {
  color: #fff;
}

@media (max-width: 1050px) {
  .secondaryFooter {
    font-size: small;
  }
}

@media (max-width: 950px) {
  .secondaryFooter {
    font-size: smaller;
    padding: 20px 40px;
  }
  .columnheading {
    font-size: small;
  }
}

@media (max-width: 750px) {
  .columnheading {
    margin: 6px 0 10px;
  }
  .column:last-child {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }
}

@media (max-width: 650px) {
  .secondaryFooter {
    padding: 10px;
  }
  .column {
    margin: 0 10px;
  }
}
