.container {
    padding: 20px;
    border: 2px solid #131313;
    border-radius: 3px;
    background-color: #343434e1;
    margin: 0px 0px 10px;
}

.normal {
    color: #008000;
}

.warning {
    color: #ffcc00;
}

.error {
    color: #ff0000;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
