/* hero.module.css */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  color: #ffffff; /* White text color */
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%; /* Center the image horizontally */
  transform: translateX(-50%); /* Adjust to center using negative margin */
  height: 100%;
  width: fit-content;
  z-index: -1;
  opacity: 0.3; /* Subtle opacity for the background image */
}

.hero h1 {
  font-size: 2.5rem; /* Large heading font size */
  font-weight: 700; /* Bold font weight */
  line-height: 1.2; /* Slightly increased line height */
  margin-bottom: 20px; /* Space below heading */
}

.hero p {
  font-size: 1.2rem; /* Paragraph font size */
  line-height: 1.5; /* Increased line height for better readability */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem; /* Adjust heading size for smaller screens */
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 60px 10px; /* Adjust padding for smaller screens */
  }
  .hero h1 {
    font-size: 1.8rem; /* Adjust heading size for smaller screens */
  }
}
